@page "/admin/shipping"
@layout Storefront.Web.Components.Layout.AdminLayout

<PageTitle>Shipping</PageTitle>

<h1>Shipping</h1>
<p>Manage shipping methods, zones, rate rules, and shipments.</p>

<section class="admin-panel">
    <ul>
        <li><a class="btn-link" href="/admin/shipping/methods">Shipping methods</a></li>
        <li><a class="btn-link" href="/admin/shipping/zones">Shipping zones</a></li>
        <li><a class="btn-link" href="/admin/shipping/rules">Shipping rate rules</a></li>
        <li><a class="btn-link" href="/admin/shipments">Shipments</a></li>
    </ul>
</section>
